body {
    margin: 0;
    font-family: "Trebuchet MS", sans-serif;
    background: url(image.png);
    color: #25263a;
}

h1 {
    font-size: 46px;
    margin-bottom: 8px;
}

h2 {
    font-size: 28px;
    margin-top: 0;
}

h3 {
    color: #5b4b8a;
}

p {
    line-height: 1.7;
}

header {
    text-align: center;
    padding: 55px 20px;
    background: #302b63;
    color: white;
}

.tagline {
    color: #c9c5ff;
    letter-spacing: 3px;
    font-size: 14px;
}

#about {
    max-width: 900px;
    margin: 35px auto 25px;
    padding: 35px;
    background: white;
    border-left: 6px solid #6c63ff;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.intro {
    font-size: 18px;
    color: rgb(72, 70, 100);
}

.card {
    max-width: 900px;
    margin: 25px auto;
    padding: 35px;
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
}

.content-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}


.movies {
    padding-left: 25px;
    border-left: 3px solid #ff7a59;
}

.movies li {
    padding: 9px;
    margin: 5px 0;
}

.cities {
    padding-left: 25px;
    border-left: 3px solid #38b000;
    list-style-type: square;
}

.cities li {
    padding: 9px;
    margin: 5px 0;
}


.movies li:hover {
    background: #fff0eb;
    color: #d94f30;
    border-radius: 7px;
    cursor: pointer;
}

.cities li:hover {
    background: #e9f8e4;
    color: #247a19;
    border-radius: 7px;
    cursor: pointer;
}

a {
    color: #5b4b8a;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #ff5c8a;
    text-decoration: underline;
}


footer {
    text-align: center;
    padding: 22px;
    margin-top: 40px;
    background: #302b63;
    color: #ddd;
    font-size: 14px;
}

@media (max-width: 650px) {

    .content-box {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 36px;
    }

    #about,
    .card {
        margin-left: 15px;
        margin-right: 15px;
    }
}
